@import url(https://fonts.googleapis.com/css?family=Literata|Merriweather|Open+Sans;display=swap);
@media print {
    nav, footer, .sidebar-container {
        display: none;
    }
    #content {
        text-align: justify;
    }
    .paranumber {
        position:inherit;/*prevent offset between text and number when using position absolute*/
    }
    @page {
        margin: 2cm;
    }
    
    /*typology as a list? to improve*/
    .typology-overview .collapse{
        display: contents;
    }
    .typology-overview .badge,
    .typology-overview .card-header i {
        display: none;
    }
    
}