/*------------------------------
* Generic styles
* ------------------------------ 
*/

/* color scheme */
:root {
    --main-bg-color: cadetblue; /* header/footer */ /*d7e8cb e4e6e1 current:a5ae9d*/
    --light-bg-color: #edeeeb; /* card bg, advanced search*/
    --gramm-logo-color: #c00000; /* grammateus red */
    --text-title-color: rgba(0, 0, 0, 0.65); /* same as sidebar links. Before: dark green #52574e*/
    --papyri-info: #162a5c; /* papyri-info links? dark blue */
    --fibres-dark-color: rgba(225, 207, 183, 0.5); /* darker beige #e1cfb7 */
    --fibres-light-color: rgba(234, 222, 204, 0.5); /* lighter beige #eadecc */
    --papyrus-abstract-color: rgba(219, 183, 112, 0.75); /* brown like signature. previously gold - rgba(255, 215, 0, 0.75) */
    --papyrus-addressee-color: rgba(255, 167, 0, 0.75); /* orange */
    --papyrus-salutation-color: rgba(246, 207, 113, 0.75); /* yellowish (plotly pastel) */
    --papyrus-heading-color: rgba(135, 233, 250, 0.75); /* LightSkyBlue towards Cyan */
    --papyrus-mark-color: rgba(72, 61, 139, 0.75); /* LightSkyBlue towards Cyan */
    --papyrus-intro-color: rgba(255, 99, 71, 0.75); /* red/tomato */
    --papyrus-main-color: rgba(211, 211, 211, 0.75); /* light gray */
    --papyrus-subscription-color: rgba(147,112,219, 0.75); /* medium purple */
    --papyrus-addition-color: rgba(255, 167, 0, 0.75); /* orange */
    --papyrus-date-color: rgba(102, 205, 170, 0.75); /* medium aquamarine */
    --papyrus-descr-cont-color: rgba(240, 255, 255, 0.75);/* azure (plotly safe) */
    --papyrus-clause-color: rgba(229, 196, 148, 0.75);/* brown (plotly set2) */
    --papyrus-col-color: rgba(252, 205, 229, 0.75);/* pink (plotly set3) */
    --papyrus-signature-color: rgba(219, 183, 112, 0.75);/* ~beige */
    --search-color: #cd5c5c; /* red/cherry */
}

/* top navbar */
body > nav {
    background-color: var(--main-bg-color);
}
.nav-position {
    position: sticky;
    top: 0;
    z-index: 100;
}

#navbarIntro,
#navbarTypology,
#navbarCompare,
#navbarBiblio,
#navbarPapyri{
    color:ivory;
}


/* navbar brand title */
#title-style {
    color: var(--gramm-logo-color);
}
.navbar-brand > img {
    width: 160px;
    max-width:160px;
}

body {
    font-family: Merriweather;
    /* sticky footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* Search box */
.form-search {
    width: 20%;
}
.input-search {
    border-bottom:2px solid ivory;
}
.logo-search{
    color:ivory;
}
/*.input-search:focus-within {*/
/*   border-bottom: 1px solid var(--search-color); */
/*   color: var(--search-color);*/ /*remove class input-group-text from search-addon*/
/*}*/
.logo-search {
    background-color: transparent;
    /*color: white;*/
    border:0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.text-search {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}
.text-search:focus {
    background-color: var(--main-bg-color);
    color: white;
    border: 0;
    box-shadow: none;
}

/*----------*/
/* content container */
#content {
    margin-bottom: 0px; /*57px*/
    /* sticky footer */
    flex: 1 0 auto; 
}

.h1 {
    padding-top: 16px; /* Bootstrap 4 has removed space btw header and content */
    padding-bottom: 16px;
    color: var(--text-title-color);
    font-family: Open Sans;
}

.h3 {
    color: var(--text-title-color);
    font-family: Open Sans;
}

.h5 {
    padding-top: 10px;
    color: var(--text-title-color);
    font-family: Open Sans;
}

.subtitle {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: Open Sans;
    /*font-variant-caps: small-caps;*/
}

.code {
    font-family: monospace;
}


/* descriptive text in paragraphs */
.paragraph { 
    margin: 0 auto;
    max-width: 650px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: justify;
}
/* offset fixed navbar */
.anchor {
    padding-top: 87px;
}

/* single paragraph */
.text{
    padding-left: 50px;
}
.paranumber{
    color: var(--text-title-color);
    opacity: 0.65;
    /*padding: 0px 10px 0px 10px;*/
    left: 30px;
    position: absolute;
}


/* alerts */
#alert-home {
    margin-top: 57px; /*space between header and alert*/
}

/* lists */
.nobullet {
    list-style: none;
    margin: 0;
}

/* tables */
thead {
    background-color:var(--search-color);
    color:white;
}
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tbody tr:last-of-type {
    border-bottom: 2px solid var(--search-color);
}
th {
    padding:2px 5px 2px 5px;
}
td {
    padding:5px 5px 5px 5px;
    border-bottom:1px solid black;
}

/* back-to-top */
#back-to-top {
    display:none; /* not displayed on page load */
}
.back-to-top {
    position: fixed;
    z-index: 99; /* make sure it does not overlap */
    bottom: 80px; /* must be higher than the footer. */
    right: 25px;
}

/* footer */
footer {
  padding: 1rem;
  background-color: var(--main-bg-color);
  text-align: center;
}

.footer-link {
    color:ivory;
    text-decoration:none;
    display:block;
    padding:.5rem .1rem;
}
.footer-link:hover {
    color:ivory;
}

/*------------------------------
* Specific pages style
* ------------------------------ 
*/

/*---------- INDEX home Page ----------*/

/* card deck or group */
.card-deck {
    margin-top: 57px;
}
.home .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.home .card {
    border: 0;
}
.home-img {
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    color: ivory;
    font-size: 3.5vw;
    /* centering text over image */
    position: absolute;
    top: 50%;
    left:  50%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -50%);
}
.home-img a,
.home-img a:hover{
    color: ivory;
}
.home-img-dark {
    text-align: center;
    font-family: Open Sans;
    font-weight: 700;
    color: dimgray;
    font-size: 3.5vw;
    /* centering text over image */
    position: absolute;
    top: 50%;
    left:  50%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -50%);
}
.home-img-dark a,
.home-img-dark a:hover{
    color: dimgray;
}
.home-img-container {
    position: relative;
}
@media screen and (min-width: 1700px) {
    .home-img {
        font-size: 55px;
    }
}
@media screen and (max-width: 575px) {
    .home-img {
        font-size: 55px;
    }
}

/*---------- RIGHTS Page ----------*/
.thumbnail img {
    width: 100%;
    margin: 5px;
}

.padding-img-items {
    padding-bottom:6px;
}

/*---------- TYPOLOGY Page ----------*/
/* introduction */
.typology-overview {
    padding-bottom: 20px;
}
.typology-overview .level0,
.typology-overview .level1{
    border: 1px solid white;
    border-radius: 0;
    color: white;
}
.typology-overview a {
    color: white;
}
.typology-overview .level0 {
    background-color: indianred;
}
.typology-overview .level1 {
    background-color: burlywood;
}
.badge-link {
    margin-left: 5px; /* also for show page */
}

/* classification and description */
.sidebar-container {
    border-right: 1px solid rgba(0,0,0,.1);
}
.sidebar {
    position: sticky;
    top: 86.08px;
    /*z-index: 1000;*/
    height: calc(100vh - 86.08px);
    overflow-y: auto;
    margin-right: -1rem;/*so that scrollbar is aligned with container border*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: Open Sans;
}
.sidebar-item.title .sidebar-link {
    display: block;
    font-weight: 600;
    font-size: 150%;
    color: rgba(0,0,0,.85);
    padding-bottom: 1rem;
}
.sidebar-item.level0 .sidebar-link {
    display: block;
    font-weight: 400;
    font-size: 120%;
    color: rgba(0,0,0,.85);
}

.sidebar-item.level1 .sidebar-link {
    display: block;
    color: rgba(0,0,0,.65);
    font-size: 110%;
    padding-left: 1rem;
}
.sidebar-item.level1 .sidebar-link:hover {
    color: initial;
}

.sidebar-item .level2 {
    display: block;
    color: rgba(0,0,0,.65);
    font-size: 90%;
    padding-left: 2rem;
}
/* tests for sidebars */

/*1. hiding variations in classification */
.classification .level2 {
    display: none;
}

/*2. hide non-links at variation level and/or subtype level */
/*.classification .level2 .sidebar-link:not([href]) {*/
/*    display: none;*/
/*}*/
/*.classification .level1 .sidebar-link:not([href]) {*/
/*    display: none;*/
/*}*/

/*3. change color to make them obvious*/
.sidebar .level2 .sidebar-link:not([href]) {
    /*color: rgba(0,0,0,.35);*/
    color: palevioletred;
    font-style: italic;
}
.sidebar .level1 .sidebar-link:not([href]) {
    /*color: rgba(0,0,0,.35);*/
    color: palevioletred;
    font-style: italic;
}
.sidebar-item.level1:last-of-type {
    padding-bottom: 1rem;
}

/* text */
.grc {
    font-family: Literata, serif;
}
.db-link {
    color: var(--gramm-logo-color);
}
.db-link:hover {
    color: var(--gramm-logo-color);
    text-decoration: underline dashed;
}

/* how to cite */
.title {
    font-style: italic;
}


/* formulas in the descriptions */
a.formula {
    color:inherit;
    text-decoration:none!important;
}
.formula {
    border-bottom:solid 3px;
    border-top:solid 3px;
}
.formula.abstract {
    border-bottom-color: var(--papyrus-abstract-color);
    border-top-color: var(--papyrus-abstract-color);
}
.formula.addressee {
    border-bottom-color: var(--papyrus-addressee-color);
    border-top-color: var(--papyrus-addressee-color);
}
.formula.salutation {
    border-bottom-color: var(--papyrus-salutation-color);
    border-top-color: var(--papyrus-salutation-color);
}
.formula.heading{
    border-bottom-color: var(--papyrus-heading-color);
    border-top-color: var(--papyrus-heading-color);
}
.formula.official-mark{
    border-bottom-color: var(--papyrus-mark-color);
    border-top-color: var(--papyrus-mark-color);
}
.formula.introduction {
    border-bottom-color: var(--papyrus-intro-color);
    border-top-color: var(--papyrus-intro-color);
}
.formula.main-text {
    border-bottom-color: var(--papyrus-main-color);
    border-top-color: var(--papyrus-main-color);
}
.formula.subscription {
    border-bottom-color: var(--papyrus-subscription-color);
    border-top-color: var(--papyrus-subscription-color);
}
.formula.date {
    border-bottom-color: var(--papyrus-date-color);
    border-top-color: var(--papyrus-date-color);
}
.formula.descr-contents {
    border-bottom-color: var(--papyrus-descr-cont-color);
    border-top-color: var(--papyrus-descr-cont-color);
}
.formula.trans-clause {
    border-bottom-color: var(--papyrus-clause-color);
    border-top-color: var(--papyrus-clause-color);
}
.formula.col-no {
    border-bottom-color: var(--papyrus-col-color);
    border-top-color: var(--papyrus-col-color);
}
.formula.signature {
    border-bottom-color: var(--papyrus-signature-color);
    border-top-color: var(--papyrus-signature-color);
}
.formula.addition {
    border-bottom-color: var(--papyrus-addition-color);
    border-top-color: var(--papyrus-addition-color);
}

/*---------- SHOW Page ----------*/

/* general */
#text-viz, #image-viz {
    margin-bottom: 20px;
}


/* ------------------- */
/* metadata */
div.page-header > hr {
    border: 2px solid var(--text-title-color);
}

.show-metadata {
    /*font-variant: small-caps;*/
    font-weight:bold;
}

.img-btn {
    display: flex;
    align-items: flex-end;
    color: var(--main-bg-color);
}
a.img-btn > i:hover {
  color: var(--text-title-color);
}




/* legend for text section and search parameters from browse page */
.legend {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
.legend li {
    display: flex;
    align-items: center;
    margin-right: 15px;
    /*margin: 0 10px;*/
}
.legend span {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: var(--main-bg-color) 1px solid;
}



/*---------- PAPYRI - Search with Facets ----------*/
/* search info */
.search-info {
    margin: 10px 0px;
    border: none;
}
.search-info-btn {
    background-color: unset;
    color: gray;
    padding-left:0;
}
.search-info-btn:hover {
    color: gray;
}
#headingOne {
    background-color: unset;
    border:none;
    padding-left: 0px;
}
#collapseOne > div.card-body {
    padding-top:0;
}
.accordion .card {
    /*border: 1px solid unset;*/
    border: 0px;
    margin:0;
}
.accordion .card-header {
    background-color: white;
    height:40px;
    padding:0;
    border: 0, 0, 0, 1px;
}
.accordion .card-header button {
    color: gray;
}
.accordion .card-body {
    padding-bottom:0;
}

/* search parameters */
.search .badge {
    font-size: 90%;
    margin-bottom: 1rem;
}
.search .remove-filters {
    background-color: var(--search-color);
    color: white;
}
.search a.remove-filters:hover,
.search a.remove-filters:focus {
    background-color: #944444;
}

/* main page */
.papyri-col {
    margin-bottom: 2.25rem;
}

/* facets search form (filters) */
.search .h3 {
    border-bottom: solid 3px var(--search-color);
    padding-bottom: 3px;/*prevent descenders from touching border*/
}
.facetForm .card,
.facetForm .card-header, 
.facetForm .card-body {
    border-radius: 0;
}
.facetForm .card {
    margin: 10px 0px;
}
.facetForm .card-header {
    background-color: var(--search-color);
    height: 40px;
    padding: 0;
    display: flex;
    position: relative;
}
.facetForm div[id*='heading'] button,
.facetForm div[id*='heading'] button:focus
{
    color: white;
    text-decoration: none;
    display: flex;
    flex: 1;
}.facetForm div[id*='heading'] button span:hover{
    text-decoration: underline;
}
.facetForm div[id*='heading'] i {
    color: white;
    padding: 5px 12px;
}
.facetForm .card-body {
    background-color: #f5f5f5;
}
.facet-content {
    margin-left: 10px;
}
.facetForm p {
    opacity: 0.65;
    margin-top: 5px;
}

/* pagination */
.papyri-pagination-container {
    display: flex;
    align-items: center;
}
.papyri-pagination {
    font-size: 1rem;
    margin-bottom: 0;
    margin-left: 1rem;
}
.papyri-page-item.disabled {
    display: none;
}
.papyri-page-item.active .papyri-page-link {
    background-color: var(--text-title-color);
}
.papyri-page-link {
    border: 0;
    color: var(--text-title-color);
    line-height: 1.2;
    padding: .25rem .5rem;
}
.papyri-page-link:hover {
    border: 0;
    color: var(--text-title-color);
}
.bottom-pagination {
    border-top: solid 3px var(--search-color);
    padding-top: 5px;
    font-family: Open Sans;
}
.bottom-pagination .papyri-pagination {
    padding-right: 15px;
}

/* sort results */
.sort-papyri,
.sort-papyri:hover {
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
}
.order-by {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* export */
.export {
    border-radius: 0;
    background-color: var(--light-bg-color);
    color: var(--text-title-color);
    padding: 0.2rem 0.75rem 0.2rem 0.75rem;
}
.export:hover{
    background-color: var(--text-title-color);
    color: white;
}



/* facets results */
.result {
    margin-right: 0;
}
.result-tm {
    max-width: 120px;
}
idno {
    font-weight: 300;
}
/* icons also for show page */
.icon-rotate {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
}

/*---------- Website BROWSE Form Results ----------*/
/* full search results */
exist\:match,
.result .hi {
    background-color: aquamarine;
}
.browse .result > a {
    color: var(--search-color);
}
.browse-para > a {
    color: grey;
    font-style: italic;
}

/*---------- BIBLIOGRAPHY ----------*/
/*entries as a list*/
/*bottom space*/
#biblio-list {
    margin-bottom: 57px;
}
/*bullet image */
#biblio-list img {
    /*bullet-indianred*/
    /*width: .5rem;*/
    /*height: .5rem;*/
    
    /*roll (vertical)*/
    /*width: inherit;*/
    
    /*roll-horizontal*/
    width: 25px;
    height: 15px;
}
/*center vertically the bullet*/
.biblio-bullet {
    /*text-align: center; */ /* for actual bullet.png*/
    max-width: 20px;
    padding: 0;
}
.biblio-anchor {
    padding-top: 87px;
    margin-top: -87px;
}
.biblio-ref {
    margin-bottom: 10px;
}
.biblio-title {
    font-weight: bold;
    font-variant: small-caps;
}
.biblio-title-link {
    color: var(--search-color);
}
.biblio-link {
    text-decoration: underline;
    color: inherit;
}

/*---------- SYNTAX page ----------*/
#formulas {
    width: 100%;
}

.syntax-table {
    margin-top: 30px;
    margin-bottom: 57px;
}


.syntax-example-list {
    display: list-item;
}

.syntax-no-display {
    display: none;
}

/*---------- COMPARE page ----------*/
#cat1, #cat2 {
    width: 100%;
}
/* minimum styling for the options in the select input */
.compare .level0 {
    background-color: var(--text-title-color);
    color: white;
}
.compare .level1 {
    background-color: var(--light-bg-color);
}
.comma:last-child {
    display:none;
}

/*---------- TUTORIALS page ----------*/
.tuto-container {
    padding-bottom: 20px;
}
.tuto-video-container {
    /*align-content: center;*/
}
.tuto-video {
    background-color: darkgrey;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
